// Fonts
$main-font-bold: 'Roboto', 'Trebuchet MS', arial, verdana;
$main-font-light: 'Roboto', 'Trebuchet MS', arial, verdana;

// Colors
$link: #00ac8f;
$text: #3a3a3a;
$main-dark: #1d3e5a;
$main-light: #39a9d3;
$darkgrey: #464646;
$dark: #323232;
$red: #710d10;
$red-light: #be1d2c;
$blue: #24aae1;
$green: #2d9b3a;
$orange: #ec761c;
$grey: #bfbfbf;
$border-dark: #191919;
$border-light: #ddd;
$border-color-darker: #656565;



