@mixin main-font {
  font-family: 'Roboto', 'Trebuchet MS', arial, verdana;
  .ie8 & {
    font-family: 'Trebuchet MS', arial, verdana !important;
  }
}

@mixin font {
  @include main-font;
  font-weight: 400 !important;
}

@mixin font-semibold {
  @include main-font;
  font-weight: 500 !important;
}

@mixin font-bold {
  @include main-font;
  font-weight: 700 !important;
}

@mixin font-light {
  @include main-font;
  font-weight: 300 !important;
}

* {
  @include box-sizing(border-box);
  @include font;
  color: $main-dark;
}
