* {
  @include box-sizing(border-box);
}

.drupalhagen {
  background-color: $blue;
  * {
    color: white;
  }

  .header {
    padding-top: 50px;
    min-height: 300px;
    text-align: center;
  }

  .schedule {
    min-height: 300px;
    background-color: white;
    * {
      color: $text;
    }

  }

  .venue {
    min-height: 300px;
  }

  .footer {
    background-color: white;
    min-height: 300px;
    * {
      color: $text;
    }

  }
}
