
$grids: 12;
$gutter-styles: 'split';

* {
  @include box-sizing(border-box);
}

.container {
  width: 960px;
  margin: 0 auto;
}
.drupalhagen {
  background-color: $blue;
  * {
    color: white;
  }
}
.header {
  padding-top: 50px;
  @include clearfix;
  .alpha,
  .beta {
    margin-top: 50px;
  }
  .alpha {
    text-align: center;
    @include float-span(8,1);

    h1 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 900;
    }
    h2 {
      font-size: 2.25em;

      margin: 0 0 25px 0;
      text-transform: uppercase;
    }
    .field-name-field-basic-image-image img.panopoly-image-full {
      width: 270px !important;
    }
  }
  .beta {
    @include float-span(4,9);
  }
}

.schedule {
  @include clearfix;
  .fieldable-panels-pane {
    text-align: center;
  }
}

.venue {
  @include clearfix;
  margin-top: 50px;
  border-top: 3px solid $main-dark;
  iframe {
    border: 0;
  }

}

.footer {
  @include clearfix;
  .fieldable-panels-pane {
    padding-bottom: 20px;
    @include float-span(6, 1);
    &:nth-of-type(1),
    &:nth-of-type(2n+1) {
      @include float-span(6, 'first');
    }
    &:nth-of-type(2n) {
      @include float-span(6, 'last');
    }
  }
}

.sponsors {
  background-color: white;
  * {
    color: $text;
  }
  .fieldable-panels-pane {
    text-align: center;
    h2 {
      padding: 25px;
    }
  }

  .sponsor {
    @include float-span(3, 1);
    &:nth-of-type(2),
    &:nth-of-type(4n+1) {
      //@include float-span(3, 'first');
    }
    &:nth-of-type(4n) {
      //@include float-span(3, 'last');
    }
    text-align: center;
  }
}


.pane-system-main-menu {
  float: right;
}

.topbar {
  @include linkcolor(white, #bebebe, none);

  position: fixed;
  z-index: 10;
  background-color: $main-dark;
  width: 100%;
  padding: 0 20px;

  .panels-ipe-display-container & {
    position: inherit;
  }

  nav,
  .pane-system-main-menu,
  li {
    display: inline;
  }
  .menu {
    line-height: 50px;
    float:right;
    margin: 0;

    li {
      a {
        display: block;
        height: 50px;
        border-left: 1px solid white;
        padding: 0 1.5em;
        line-height: 50px;
        float:left;
      }

    }
  }
}

.slogan {
  float:left;
  background-image: url('../drupaldenmark-logo.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 50px;
  line-height: 50px;
  display: inline-block;
  color: white;
  font-size: 0.7em;
}

.session {
  @include float-span(4,1);
  .field-name-field-session-description {
    display: none;
  }
  &:nth-of-type(1),
  &:nth-of-type(3n+1) {
    @include float-span(4, 'first');
  }
  &:nth-of-type(3n) {
    @include float-span(4, 'last');
  }
}

