* {
  @include box-sizing(border-box);
}

.drupalhagen {
  background-color: $blue;
  * {
    color: white;
  }

  .header {
    padding-top: 50px;
    min-height: 300px;
    text-align: center;
  }

  .schedule {
    margin: 20px;
    min-height: 300px;
  }

  .venue {
    min-height: 300px;
  }

  .footer {
    min-height: 300px;
  }
}

.session {
  width: 300px;
  float: left;
}
